<style>#mapdiv{position:relative}#tooltip,#select{position:absolute;font-size:14px;color:#666;background-color:white;padding:7px;z-index:50}#legend{position:absolute;background-color:white;width:87px;height:140px;z-index:50;bottom:10px;left:50px;margin:0;border:1px solid #ccc;border-radius:4px;padding-left:5px}#scale{background-color:red;width:20px;height:90%;margin-top:8px;margin-left:7px;background:linear-gradient(to bottom,#2c7bb6,#abd9e9,#fdae61,#d7191c)}.zisk,.ztrata{position:absolute;font-size:10pt;left:40px}.zisk{top:4px}.ztrata{bottom:4px}@media only screen and (min-width :768px){#tooltip{border:1px solid #ccc;border-radius:4px;width:30vw;max-height:200px;top:10px;right:10px}#select{max-height:200px;top:8px;left:40px;z-index:30}}@media only screen and (min-device-width :320px) and (max-device-width :480px){#tooltip{border:0;margin:auto;padding:0;position:relative;width:100%}#select{border-radius:4px;padding:0;position:relative;width:100%;max-height:40px;top:0;left:0}#frm-geocode,#legend{visibility:hidden}}#frm-geocode{position:absolute;top:50px;left:48px;background:white;padding:5px;float:left;border:1px solid #ccc;-webkit-border-radius:4px;border-radius:4px}#frm-geocode label{float:left;clear:left;font:14px/16px Arial,Helvetica,sans-serif}#frm-geocode .inputs{float:left;clear:left;padding-top:3px}#frm-geocode input{float:left}</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://ft-polyfill-service.herokuapp.com/v2/polyfill.min.js?features=Object.values,String.prototype.startsWith"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/openlayers/4.4.2/ol.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/openlayers/4.4.2/ol.css">

<div class="b-data__bg" style="background-image: url('https://www.irozhlas.cz/sites/default/files/uploader/volebni_debata_danel_171020-170936_rez_1.jpg');"><span class="b-data__caption">Foto Michaela Danělová, ČRo</span></div>
<header class="b-data__header">
<div class="row-main">
	<h1 class="b-data__title">
		<strong>Podrobná mapa: ANO bralo všude, Zelení dostali výprask i od vlastních</strong>
	</h1>
	<p class="meta meta--lg">
	<a href="#" class="meta__link">Jan Cibulka</a>
	<span class="meta__separator">|</span>
	<time>22. října 2017</time>
	</p>	
	<p>
	<a href="#content" class="b-data__link js-scroll-to">
	Čtěte dále
	<span class="b-data__link-icon">
	<span class="icon-svg icon-svg--arrow-down">
	<svg class="icon-svg__svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		<use xlink:href="/sites/all/themes/custom/irozhlas/img/bg/icons-svg.svg#icon-arrow-down" x="0" y="0" width="100%" height="100%"></use>
	</svg>
</span>
</span>
</a>
</p>
</div>
</header> 

<div class="b-data__content" id="content">

<div class="row-main row-main--narrow">

<p class="text-bold text-lg">Srovnání s volbami do sněmovny v roce 2013 ukazuje, že vítězné ANO sbíralo nové voliče prakticky všude a na úkor ostatních stran. Okamura posílil hlavně v pohraničí a Zelení dostali výprask i v tradičních baštách.</p>

<p>Obce na jihovýchod od Prahy jsou jediná souvislá oblast, kde vítěz voleb, hnutí ANO 2011, ztratil oproti minulým volbám podporu, například přímo v Jesenici šla podpora partaje dolů o necelé tři <a href="http://www.statistikaamy.cz/2016/02/procentni-bod-a-procento/">procentní body</a>. Andrej Babiš tak nabíral nové příznivce i v hlavním městě, ve srovnání se zbytkem republiky jich ale bylo méně.</p>
<p><em>Výsledky voleb v roce 2013 a nyní můžete prozkoumat v následující mapě. <span style="color: #4575b4;">Modré odstíny</span> značí zisk, <span style="color: #d73027;">červenooranžové</span> pak ztrátu.</em></p>
<p><em>V mapě jsou všechny letos kandidující strany, pokud v minulých volbách nekandidovaly (např. kandidáti STAN byli na kandidátkách lidovců), mapa ukazuje jen jejich letošní výsledek. U Okamurovy SPD pak bereme jako její předchůdkyni Úsvit přímé demokracie.</em></p>
<p></div><div class="row-main row-main--article">
<div id="mapdiv">
    <div id="select"></div>
    <div id="tooltip">Najetím vyberte obec.</div>
    <div id="map" class="map"></div>
    <div id="legend">
        <div id="scale"></div>
        <span class="zisk">zisk</span>
        <span class="ztrata">ztráta</span>
    </div>
     <form action="?" id='frm-geocode'>
      <label for="inp-geocode">Najít adresu</label>
      <div class="inputs">
        <input type="text" id="inp-geocode" placeholder="Bruntál">
        <input type="submit" value="Najít">
      </div>
    </form>
</div>
</div><div class="row-main row-main--narrow"></p>
<p>V metropoli a okolí pak jednoznačně získala Pirátská strana, nárůsty v jednotlivých obcích i městských částech byly často přes 10 procentních bodů. Ve stejných místech naopak ztrácela Strana zelených, markantní to bylo zejména v tradiční baště této strany, na Praze 6. Strana ale ztrácela prakticky v celé republice, výrazně pak například v Brně.</p>
<p>„Zeleným se již několikrát po sobě nepodařilo dostat do parlamentu, tj. jejich voličům došla trpělivost a hlasují pro zelené pouze v rámci komunální politiky, nikoli v rámci voleb do Parlamentu,“ vysvětluje sociální geograf z Univerzity Karlovy <a href="http://www.soc.cas.cz/lide/martin-simon">Martin Šimon</a>.</p>
<p>Za zmínku stojí i propad komunistů v Severních Čechách a v pohraničí, v této oblasti posilovalo jak zmíněné ANO, tak i SPD Tomia Okamury. A právě Okamura doslova vymazal Dělnickou stranu sociální spravedlnosti. „Podobně to bylo i dříve, kdy se radikálně-pravicové názory internalizovali do politiky větších stran,“ dodává Šimon.</p>

<p class="meta meta--right meta--big">
<strong><a href="#" class="meta__link">Jan Cibulka</a></strong>
</p>
</div>
<!--[[ZPRAVY_SNOWFALL_RELATED:ARTICLES]]-->
</div><script>var breaks={5:[-3.9699999999999998,-1.6899999999999997,0,1.25,3.5699999999999998],47:[-13.299999999999999,-7.2699999999999996,0,3.3000000000000007,8.5600000000000005],768:[-50.0,-6.4100000000000001,0,10.810000000000002,20.130000000000003],720:[-5.2599999999999998,-1.9700000000000002,0,5.5700000000000003,10.129999999999999],1176:[0,0,0,1.1899999999999999,3.3300000000000001],53:[-9.0700000000000003,-2.9299999999999997,0,3.9000000000000004,8.5999999999999996],7:[-18.170000000000002,-11.289999999999999,0,3.7699999999999996,10.470000000000001],1182:[0,0,0,0.68999999999999995,2.0],1114:[-7.1399999999999997,-2.79,0,4.4499999999999993,10.050000000000001],166:[0,0,0,6.04,13.44],721:[-10.979999999999999,-5.4599999999999991,0,1.77,4.6200000000000001],1:[-6.9299999999999997,-2.6699999999999999,0,2.73,8.3300000000000001],137:[-3.3799999999999999,-1.01,0,1.1499999999999999,3.0],714:[-4.1100000000000003,-1.5199999999999998,0,1.2400000000000002,3.5699999999999998],1125:[0,0,0,0.78000000000000003,2.2400000000000002],724:[-6.9699999999999998,-2.3099999999999996,0,1.3999999999999999,5.0],1184:[0,0,0,0.68000000000000005,2.6299999999999999],1127:[0,0,0,0.54000000000000004,1.8600000000000001],1173:[0,0,0,0.56999999999999995,1.75],155:[0,0,0,0.59999999999999998,2.1200000000000001],156:[-3.7000000000000002,-1.3299999999999992,0,1.4399999999999999,8.2199999999999989],1178:[0,0,0,0.70999999999999996,2.4300000000000002],769:[0,0,0,1.0900000000000001,4.54],1177:[0,0,0,0.71999999999999997,3.27],2:[0,0,0,0.35999999999999999,1.21],1183:[0,0,0,0.37,1.0600000000000001],1120:[0,0,0,0.10000000000000001,0.28999999999999998],762:[-0.16,-0.089999999999999997,0,0.39000000000000001,1.03],1116:[0,0,0,0.57999999999999996,2.3199999999999998],1041:[0,0,0,0.089999999999999997,0.17999999999999999],98:[-0.62,-0.17999999999999999,0,0.080000000000000002,0.14000000000000001],0:[0,0,0,0]};var partyNames={1:{'NAZEV_STRK':'Křesťan.a demokrat.unie-Českosl.strana lidová','ZKRATKAK8':'KDU-ČSL'},2:{'NAZEV_STRK':'Česká strana národně sociální','ZKRATKAK8':'ČSNS'},5:{'NAZEV_STRK':'Strana zelených','ZKRATKAK8':'Zelení'},7:{'NAZEV_STRK':'Česká strana sociálně demokratická','ZKRATKAK8':'ČSSD'},47:{'NAZEV_STRK':'Komunistická strana Čech a Moravy','ZKRATKAK8':'KSČM'},53:{'NAZEV_STRK':'Občanská demokratická strana','ZKRATKAK8':'ODS'},98:{'NAZEV_STRK':'Volte Pravý Blok www.cibulka.net','ZKRATKAK8':'PB'},137:{'NAZEV_STRK':'ROZUMNÍ - stop migraci a diktátu EU-peníze občanům','ZKRATKAK8':'Rozumní'},155:{'NAZEV_STRK':'Blok proti islamizaci - Obrana domova','ZKRATKAK8':'BPI'},156:{'NAZEV_STRK':'Dělnická strana sociální spravedlnosti','ZKRATKAK8':'DSSS'},166:{'NAZEV_STRK':'STAROSTOVÉ A NEZÁVISLÍ','ZKRATKAK8':'STAN'},714:{'NAZEV_STRK':'Strana svobodných občanů','ZKRATKAK8':'Svobodní'},720:{'NAZEV_STRK':'Česká pirátská strana','ZKRATKAK8':'Piráti'},721:{'NAZEV_STRK':'TOP 09','ZKRATKAK8':'TOP 09'},724:{'NAZEV_STRK':'Strana Práv Občanů','ZKRATKAK8':'SPO'},762:{'NAZEV_STRK':'OBČANÉ 2011-SPRAVEDLNOST PRO LIDI','ZKRATKAK8':'OBČANÉ 2011'},768:{'NAZEV_STRK':'ANO 2011','ZKRATKAK8':'ANO'},769:{'NAZEV_STRK':'Řád národa - Vlastenecká unie','ZKRATKAK8':'ŘN - VU'},1041:{'NAZEV_STRK':'Společ. proti develop. výstavbě v Prokop. údolí','ZKRATKAK8':'SPDV'},1114:{'NAZEV_STRK':'Svoboda a přímá demokracie - Tomio Okamura (SPD)','ZKRATKAK8':'SPD'},1116:{'NAZEV_STRK':'Národ Sobě','ZKRATKAK8':'NáS'},1120:{'NAZEV_STRK':'Česká národní fronta','ZKRATKAK8':'ČNF'},1125:{'NAZEV_STRK':'Sdružení pro republiku-Republ.str.Českosl.M.Sládka','ZKRATKAK8':'SPRRSČ M.Sládka'},1127:{'NAZEV_STRK':'Dobrá volba 2016','ZKRATKAK8':'DV 2016'},1173:{'NAZEV_STRK':'Občanská demokratická aliance','ZKRATKAK8':'ODA'},1176:{'NAZEV_STRK':'REALISTÉ','ZKRATKAK8':'REAL'},1177:{'NAZEV_STRK':'CESTA ODPOVĚDNÉ SPOLEČNOSTI','ZKRATKAK8':'CESTA'},1178:{'NAZEV_STRK':'Referendum o Evropské unii','ZKRATKAK8':'Referendum o EU'},1182:{'NAZEV_STRK':'SPORTOVCI','ZKRATKAK8':'SPORTOVCI'},1183:{'NAZEV_STRK':'Unie Hrdosti,Aktivity,Vlastenectví,Emp.,Lidsk.2017','ZKRATKAK8':'Unie H.A.V.E.L.'},1184:{'NAZEV_STRK':'Radostné Česko','ZKRATKAK8':'RČ'}};var winOrder=[768,53,720,1114,47,7,1,721,166,714,5,137,1176,724,156,1182,1125,769,1173,155,1178,1177,1184,1127,2,1183,98,1041,1120,1116,762];var hst='https://samizdat.blob.core.windows.net/storage/';if(window.location.hostname=='localhost'){hst=''};var selCont='<select>'
winOrder.forEach(function(e){selCont+='<option value="'+e+'">'+partyNames[e]['NAZEV_STRK']+'</option>'});selCont+='</select>'
$('#select').html(selCont)
function getColor(party,y13,y17){var val=y17-y13
var col;if(val<=breaks[party][0]){col='rgba(215,48,39, 0.7)'}else
if(val<=breaks[party][1]){col='rgba(252,141,89, 0.7)'}else
if(val<=breaks[party][2]){col='rgba(254,224,144, 0.7)'}else
if(val<=breaks[party][3]){col='rgba(224,243,248, 0.7)'}else
if(val<=breaks[party][4]){col='rgba(145,191,219), 0.7'}else
if(val>breaks[party][4]){col='rgba(69,117,180, 0.7)'}else
{col="white"}
var style=new ol.style.Style({stroke:new ol.style.Stroke({color:"lightgray",width:0.7}),fill:new ol.style.Fill({color:col})})
return style;};function makeTooltip(party,evt){for(var key in evt){if(key.startsWith('r_')){data[parseInt(key.replace('r_',''))]=evt[key]}}
var rozdil=evt['R17_'+party]-evt['R13_'+party];var blabol='<b>'+(evt['NAZ_ZKR_MOaMC']||evt['NAZ_OBEC'])+'</b>, okres '+evt['NAZ_LAU1']+'<br>'
if(isNaN(rozdil)){return;}
else if(rozdil>=0){blabol+='Strana '+partyNames[party]['ZKRATKAK8']+' zde <span style="color: #4575b4;">získala '+(Math.round(rozdil*100)/100)+' p. b.</span> (PSP 2013: '+evt['R13_'+party]+' %, PSP 2017: '+evt['R17_'+party]+' %)'}else{blabol+='Strana '+partyNames[party]['ZKRATKAK8']+' zde <span style="color: #d73027;">ztratila '+Math.abs((Math.round(rozdil*100)/100))+' p. b.</span> (PSP 2013: '+evt['R13_'+party]+' %, PSP 2017: '+evt['R17_'+party]+' %)'};document.getElementById('tooltip').innerHTML=blabol};var tilegrid=ol.tilegrid.createXYZ({tileSize:512,maxZoom:12});var background=new ol.layer.Tile({source:new ol.source.OSM({url:'https://interaktivni.rozhlas.cz/tiles/ton_b1/{z}/{x}/{y}.png',attributions:[new ol.Attribution({html:'obrazový podkres <a target="_blank" href="http://stamen.com">Stamen</a>, <a target="_blank" href="https://samizdat.cz">Samizdat</a>, data <a target="_blank" href="https://www.czso.cz/csu/czso/uchazeci-o-zamestnani-dosazitelni-a-podil-nezamestnanych-osob-podle-obci">ČSÚ</a>'})]})})
var labels=new ol.layer.Tile({source:new ol.source.OSM({url:'https://interaktivni.rozhlas.cz/tiles/ton_l1/{z}/{x}/{y}.png'})})
function drawMap(party){$('#map').empty()
var layer=new ol.layer.VectorTile({source:new ol.source.VectorTile({format:new ol.format.MVT(),tileGrid:tilegrid,tilePixelRatio:8,url:hst+'psp17_zisky_tls/{z}/{x}/{y}.pbf'}),style:function(feature){return getColor(party,feature.get('R13_'+party),feature.get('R17_'+party))}});var initZoom;if(window.innerWidth<768){initZoom=6;document.getElementById('tooltip').innerHTML='Kliknutím vyberte obec.'}else{initZoom=7;}
var map=new ol.Map({interactions:ol.interaction.defaults({mouseWheelZoom:false}),target:'map',view:new ol.View({center:ol.proj.transform([15.3350758,49.7417517],'EPSG:4326','EPSG:3857'),zoom:initZoom,minZoom:6,maxZoom:12})});map.addLayer(background);map.addLayer(layer);map.addLayer(labels);map.on('pointermove',function(evt){if(evt.dragging){return;}
var pixel=map.getEventPixel(evt.originalEvent);if(map.hasFeatureAtPixel(pixel)){map.forEachFeatureAtPixel(pixel,function(feature,layer){makeTooltip(party,feature.c);});}else{document.getElementById('tooltip').innerHTML='Najetím vyberte obec.'}});map.on('singleclick',function(evt){var pixel=map.getEventPixel(evt.originalEvent);if(map.hasFeatureAtPixel(pixel)){map.forEachFeatureAtPixel(pixel,function(feature,layer){makeTooltip(party,feature.c);});}else{document.getElementById('tooltip').innerHTML='Kliknutím vyberte obec.'}});var form=document.getElementById("frm-geocode");var geocoder=null;var geocodeMarker=null;form.onsubmit=function(event){event.preventDefault();var text=document.getElementById("inp-geocode").value;if(text==''){map.getView().setCenter(ol.proj.transform([15.3350758,49.7417517],'EPSG:4326','EPSG:3857'))
map.getView().setZoom(8)}else{$.get("https://api.mapy.cz/geocode?query="+text,function(data){if(typeof $(data).find('item').attr('x')=='undefined'){alert("Bohužel, danou adresu nebylo možné najít");return;}
var x=parseFloat($(data).find('item').attr('x'))
var y=parseFloat($(data).find('item').attr('y'))
map.getView().setCenter(ol.proj.transform([x,y],'EPSG:4326','EPSG:3857'))
map.getView().setZoom(12)},'xml');}};};drawMap(768)
$('#select').on('change',function(){drawMap(parseInt($(this).find(":selected").val()));});</script>
