#mapdiv {
	position: relative;
}

#tooltip,
#select {
	position: absolute;
	font-size: 14px;
	color: rgb(102, 102, 102);
	background-color: white;
	padding: 7px;
	z-index: 50;
}

#legend {
	position: absolute;
	background-color: white;
	width: 87px;
	height: 140px;
	z-index: 50;
	bottom: 10px;
	left: 50px;
	margin: 0px;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding-left: 5px;
}

#scale {
	background-color: red;
	width: 20px;
	height: 90%;
	margin-top: 8px;
	margin-left: 7px;
	background: linear-gradient(to bottom, #2c7bb6, #abd9e9, #fdae61, #d7191c);
}

.zisk, .ztrata {
	position: absolute;
	font-size: 10pt;
	left: 40px;
}
.zisk {
	top: 4px;
}

.ztrata {
	bottom: 4px;
}

@media only screen  and (min-width : 768px) {
	#tooltip {
		border: 1px solid #ccc;
		border-radius: 4px;
		width: 30vw;
		max-height: 200px;
		top: 10px;
		right: 10px;
	}
	#select {
		max-height: 200px;
		top: 8px;
		left: 40px;
		z-index: 30;
	}
}

/* mobile tooltip */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	#tooltip {
		border: none;
		margin: auto;
		padding: 0;
		position: relative;
		width: 100%;
	}
	#select {
		border-radius: 4px;
		padding: 0;
		position: relative;
		width: 100%;
		max-height: 40px;
		top: 0px;
		left: 0px;
	}
	#frm-geocode, #legend {
		visibility: hidden;
	}
}

#frm-geocode {
    position: absolute;
    top: 50px;
    left: 48px;
    background: white;
    padding: 5px;
    float: left;
    border: 1px solid #ccc;;
    -webkit-border-radius: 4px;
            border-radius: 4px;
}
#frm-geocode label {
    float: left;
    clear: left;
    font: 14px/16px Arial, Helvetica, sans-serif;
}
#frm-geocode .inputs {
    float: left;
    clear: left;
    padding-top: 3px;
}
#frm-geocode input {
    float: left;
}